NEXT_PUBLIC_SUPABASE_URL=https://kqmckpauxlujowqmheso.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtxbWNrcGF1eGx1am93cW1oZXNvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAyODA2NDAsImV4cCI6MjEwNTg1NjY0MH0.q_t870TN1sBcW2dO8mMKsE5u7vNSrW0LZFytahdqPxU
