NEXT_PUBLIC_SUPABASE_URL=https://umqksphaqhyairdchcxk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVtcWtzcGhhcWh5YWlyZGNoY3hrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc1NTg3ODMsImV4cCI6MjEwMzEzNDc4M30.ml7PCuHy8MkcgT3ObH-RYc9drSg3kjbGtGamdZGENgw
